body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  src: url("assets/fonts/Montserrat-Bold.ttf");
  font-family:Montserrat-Bold;
}

@font-face {
  src: url("assets/fonts/Montserrat-Regular.ttf");
  font-family:Montserrat-Regular;
}

@font-face {
  src: url("assets/fonts/NoeDisplay-Bold.ttf");
  font-family:NoeDisplay-Bold;
}
